.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.cartIcon {
  float: right;
  margin-right: 15px;
}

.catalogReturn {
  margin-left: 15px;
  margin-bottom: 25px;
}

.product {
  display: flex;
  justify-content: space-around;
}

.prodDetailsLongDesc {
  margin: 60px 15px 0px 15px;
}

.mainDiv {
  padding: 15px 0px 20px 0px;
}

.item {
  border-radius: 10%;
}

.item:hover, button:hover{
  transform: scale(1.1);
  box-shadow: 5px 10px 30px lightgray;
  cursor: pointer;
}

.cartIcon:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 30px lightgray;
  cursor: pointer;
  padding: 10px;
  border-radius: 20%;
}

.itemTotal {
  margin-right: 100px;
}

.briefProductInfo {
  text-align: center;
}

.checkoutFormButtons {
  margin-top: 70px;
}

.cartItem {
  border: 2px solid black;
  margin: 10px;
}

.cartItemInfo {
  margin-left: 100px;
  margin-top: 20px;
  width:100%;
}

.orderConf {
font-size: 20px;
}

.error {
  color: red;
  margin-left: 150px;
}

.addOptions {
  margin-top: 20px;
}

.opt2 {
  margin-left: 30px;
}

.disclaimer {
  width: 370px;
  height: 370px;
  position:absolute;
  padding: .3em;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: lawngreen;
  border: 2px solid black;
  text-align: center;
}

.disclaim {
  width: 150px;
  height: 150px;
  background-color: white;
  margin-top: 20px;
}

.disclaimLayer {
  display: block;
  position: fixed;
  top: 0;
  width:100%;
  height:100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
}

.decrement {
  margin-right:5px;
}

.increment {
  margin-left: 5px;
}

.remove {
  margin-left: 10px;
}

.removalConf {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:fixed;
  background-color: whitesmoke;
  border-radius: 10%;
  border: 1px solid red;
  width: 400px;
  height: 330px;
  color: red;
  font-weight: bold;
  font-size: x-large;
  padding: 50px .5em 2.5em .5em;
  text-align: center;
}

.removalButtons {
  position: relative;
  margin-top: 40px;
  left: 7px;
}

.finalRemoval {
width: 150px;
height:55px;
font-size: 17px;
position: relative;
right: 20px;
}

.finalRemoval:hover {
color: red;
}

.declineRemoval {
width: 150px;
height: 55px;
font-size: 17px;
}

.quantButtons {
  margin: 10px 0px 2px 0px;
}

@media (max-width: 321px) {
  .removalConf {
    width: 300px;
  }
  .disclaimer {
    width: 315px;
  }
}

@media (max-width: 375px) {
  .remove {
    margin: 4px 0px;
  }
  .finalRemoval, .declineRemoval {
    width: 120px;
    height: 75px;
  }
}

@media (min-width: 410px) and (max-width: 415px) {
  .remove {
    margin-right: 1px;
    margin-top: 3px;
  }
}

@media (min-width: 320px) and (max-width: 374px){
  .cartIcon {
    margin-right: 5px;
  }
  .checkoutFormButtons {
    margin-top:0;
  }
}

@media (min-width: 360px) and (max-width: 374px){
  .shortDesc {
    margin-left: 5px;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .product {
    margin-left: 16px;
  }
  .shortDesc {
    margin-left: 5px;
  }
  .prodDetailsLongDesc {
    margin:5px 15px 0px 15px;
  }
  .addBtn {
    margin-left:35px;
  }
}

@media (min-width: 360px) and (max-width: 410px) {
  .itemTotal {
    margin-right: 115px;
  }
  .removalConf {
    width: 350px;
  }
  .removalButtons {
    left: 8px;
  }
  .disclaimer {
    width: 330px;
  }
}

@media (min-width: 410px) and (max-width: 767px) {
  .itemTotal {
    margin-right: 140px;
  }
}

@media (max-width:767px){
  .grid-container {
    grid-template-columns: 41vh;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .catalogReturn {
    margin-top: 15px;
  }
  .shortDesc {
    margin-top: 30px;
  }
  .product {
    margin-top: 40px;
    font-size: 25px;
  }
  .prodDetailsLongDesc {
    margin:40px 15px 0px 45px;
     font-size: 25px;
  }
}

@media (max-width: 767px) {
  .addOptions {
    display: flex;
    justify-content: center;
    font-size: small;
  }
  .opt2 {
    margin-right: 20px;
  }
   .product {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1023px) {
  .cart {
    text-align: center;
  }
  .cartItemInfo {
    margin: 0px;
  }
}

@media (max-width: 1425px) {
  .input {
    border: 1px solid black;
  }
}

@media (min-width: 1023px) and (max-width: 1030px) {
  .catalogReturn {
    margin-top: 15px;
  }
  .shortDesc {
    margin-top: 50px;
  }
  .product {
    margin-top: 100px;
    font-size: 25px;
  }
  .prodDetailsLongDesc {
    margin:75px 15px 0px 45px;
     font-size: 25px;
  }
}

@media (min-width:428px) and (max-width: 1023px){
   .grid-container {
    grid-template-columns: 325px 325px;
  }

}

@media (min-width:866px) and (max-width: 1200px){
   .grid-container {
    grid-template-columns: 460px 460px;
  }

}

@media (min-width:768px) and (max-width: 1025px){
  button {
    width: 150px;
    height:60px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin-left:  60px;
  }
  .cart {
    font-size: 25px;
  }
  .catalogReturn, .remove {
    font-size: 19px;
  }
  .contShop {
    margin-left: 65px;
  }
  .quantButtons {
    margin-bottom: 20px;
  }
  .decrement, .increment {
    font-size: 25px;
  }

}

@media (min-width:1914px) {

  .grid-container {
    margin-top: 120px;
    grid-template-columns: 620px 620px 620px;
  }

  .checkout {
    margin-left: 80px;
    margin-top: 140px;
  }

  .checkoutFormButtons {
    margin-left: 200px;
  }

}
