.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

h1 > span {
  float: right;
  margin-right: 15px;
}

.catalogReturn {
  margin-left: 15px;
  margin-bottom: 25px;
}

.prodDetailsLongDesc {
margin: 0px 15px;
}

.cart:hover, .item:hover {
transform: scale(1.1);
box-shadow: 5px 10px 30px lightgray;
}
