.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

h1 > span {
  float: right;
  margin-right: 15px;
}

.catalogReturn {
  margin-left: 15px;
  margin-bottom: 25px;
}

.product {
  display: flex;
  justify-content: space-around;
}

.prodDetailsLongDesc {
margin: 60px 15px 0px 15px;
}

.cart:hover, .item:hover, button:hover{
transform: scale(1.1);
box-shadow: 5px 10px 30px lightgray;
}

.itemTotal {
  margin-right: 100px;
}

.contShop {
  margin-left: 65px;
}

.checkoutFormButtons {
  margin-top: 70px;
}

@media (min-width: 320px) and (max-width: 374px){
  h1 >span {
    margin-right: 5px;
  }
}

@media (min-width: 360px) and (max-width: 374px){
  .shortDesc {
    margin-left: 5px;
  }

}

@media (min-width: 320px) and (max-width: 767px){
  .product {
    margin-left: 16px;
  }
  .shortDesc {
    margin-left: 5px;
  }
  .prodDetailsLongDesc {
    margin:5px 15px 0px 15px;
  }
  .addBtn {
    margin-left:35px;
  }
}

@media (max-width:767px){
  .grid-container {
    grid-template-columns: 41vh;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  button {
    width: 140px;
    height:40px;
  }
  .catalogReturn {
    margin-top: 15px;
  }
  .shortDesc {
    margin-top: 30px;
  }
  .product {
    margin-top: 40px;
    font-size: 25px;
  }
  .prodDetailsLongDesc {
    margin:40px 15px 0px 45px;
     font-size: 25px;
  }
}

@media (min-width: 1023px) and (max-width: 1030px) {
  button {
    width: 150px;
    height:45px;
  }
  .catalogReturn {
    margin-top: 15px;
  }
  .shortDesc {
    margin-top: 50px;
  }
  .product {
    margin-top: 100px;
    font-size: 25px;
  }
  .prodDetailsLongDesc {
    margin:75px 15px 0px 45px;
     font-size: 25px;
  }
}

@media (min-width:768px) and (max-width: 1025px){
  .grid-container {
    grid-template-columns: 66vh;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin-left:  60px;
  }
}

@media (min-height: 812px) and (max-height: 1023px){
 .grid-container {
   margin-left: 2rem!important;
 }
}
