.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

h1 > span {
  float: right;
  margin-right: 15px;
}

.catalogReturn {
  margin-left: 15px;
  margin-bottom: 25px;
}

.product {
  display: flex;
  justify-content: space-around;
}

.prodDetailsLongDesc {
margin: 60px 15px 0px 15px;
}

.cartIcon:hover, .item:hover, button:hover{
transform: scale(1.1);
box-shadow: 5px 10px 30px lightgray;
cursor: pointer;
}

.itemTotal {
  margin-right: 100px;
}

.briefProductInfo {
  text-align: center;
}

.checkoutFormButtons {
  margin-top: 70px;
}

.cartItem {
  border: 2px solid black;
  margin: 10px;
}

.cartItemInfo {
  margin-left: 100px;
  margin-top: 20px;
  width:100%;
}

.orderConf {
font-size: 20px;
}

.error {
  color: red;
  margin-left: 150px;
}

.addOptions {
  margin-top: 20px;
}

.opt2 {
  margin-left: 30px;
}

.disclaimer {
  width: 400px;
  height: 400px;
  position:absolute;
  background-color:gainsboro;
  top:15%;
  right:32%;
  z-index: 1;
}

@media (min-width: 320px) and (max-width: 374px){
  h1 >span {
    margin-right: 5px;
  }
}

@media (min-width: 360px) and (max-width: 374px){
  .shortDesc {
    margin-left: 5px;
  }

}

@media (min-width: 320px) and (max-width: 767px){
  .product {
    margin-left: 16px;
  }
  .shortDesc {
    margin-left: 5px;
  }
  .prodDetailsLongDesc {
    margin:5px 15px 0px 15px;
  }
  .addBtn {
    margin-left:35px;
  }
}

@media (min-width: 360px) and (max-width: 410px) {
  .itemTotal {
    margin-right: 115px;
  }
}

@media (min-width: 410px) and (max-width: 767px) {
  .itemTotal {
    margin-right: 140px;
  }
}

@media (max-width:767px){
  .grid-container {
    grid-template-columns: 41vh;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .catalogReturn {
    margin-top: 15px;
  }
  .shortDesc {
    margin-top: 30px;
  }
  .product {
    margin-top: 40px;
    font-size: 25px;
  }
  .prodDetailsLongDesc {
    margin:40px 15px 0px 45px;
     font-size: 25px;
  }
}

@media (max-width: 767px) {
  .addOptions {
    display: flex;
    justify-content: center;
    font-size: small;
  }
  .opt2 {
    margin-right: 20px;
  }
}

@media (max-width: 1023px) {
  .cart {
    text-align: center;
  }
  .cartItemInfo {
    margin: 0px;
  }
}

@media (max-width: 1425px) {
  .input {
    border: 1px solid black;
  }
}

@media (min-width: 1023px) and (max-width: 1030px) {
  .catalogReturn {
    margin-top: 15px;
  }
  .shortDesc {
    margin-top: 50px;
  }
  .product {
    margin-top: 100px;
    font-size: 25px;
  }
  .prodDetailsLongDesc {
    margin:75px 15px 0px 45px;
     font-size: 25px;
  }
}

@media (min-width:428px) and (max-width: 1023px){
   .grid-container {
    grid-template-columns: 325px 325px;
  }

}

@media (min-width:866px) and (max-width: 1200px){
   .grid-container {
    grid-template-columns: 460px 460px;
  }

}

@media (min-width:768px) and (max-width: 1025px){
  button {
    width: 150px;
    height:60px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    margin-left:  60px;
  }
  .cart {
    font-size: 25px;
  }

  .contShop {
    margin-left: 65px;
  }

}


@media (min-width:1914px) {

  .grid-container {
    margin-top: 120px;
    grid-template-columns: 620px 620px 620px;
  }

  .checkout {
    margin-left: 80px;
    margin-top: 140px;
  }

  .checkoutFormButtons {
    margin-left: 200px;
  }

}
